*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}
 
body {
    font-family: 'Roboto', sans-serif;
}

/* Wrapper div is for footer synergy */
.wrapper {
    position: relative;
    min-height: 100vh;
}

/* Nav section */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    background: linear-gradient(to left, #F12711, #F5AF19);
    color: white;
    padding: 0.3em 2em;
}

.logo {
    width: 7.5em;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    padding: 1em 0.5em;
}

.nav-links a:hover, .nav-links a:focus {
    color: #313131;
    border-bottom: 0.23em solid #FFCA04;
}

.nav-menu {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 3.5em;
    right: 2.5em;
    display: none;
}

.about {
    font-size: 1.5rem;
    /* padding bottom is for footer synergy */
    padding-bottom: 8.5em;
    margin: 2em 1em;
    line-height: 2em;
}

/* Form section */

.form-section {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #313131;
    padding: 4em 0;
}

.filter-form input {
    background-color: #FFFFFF;
    color: #000000;
    border: 3px solid #F23A12;
    border-radius: 0.5em;
    outline: none;
    padding: 0.3em 0.8em;
    margin-right: 0.1em;
}

.filter-form input:hover, .filter-form input:focus {
    background-color: #E0E0E0;
}

.filter-form button {
    color: #000000;
    background-color: #FFFFFF;
    border: 3px solid #F23A12;
    border-radius: 0.5em;
    cursor: pointer;
    outline: none;
    padding: 0.3em 0.5em;
}

.filter-form button:hover, .filter-form button:focus {
    background-color: #E0E0E0;
}

.select-form label {
    font-size: 1.3em;
    color: #FFFFFF;
    margin-right: 0.1em;
}

.select-form select {
    color: #000000;
    background-color: #FFFFFF;
    border: 3px solid #F23A12;
    border-radius: 0.5em;
    outline: none;
    cursor: pointer;
    padding: 0.25em 0.5em;
}

.select-form select:hover, .select-form select:focus {
    background-color: #E0E0E0;
}

#pokedex {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 1.25em;
    margin: 3em 3em 0 3em;
    /* Padding bottom is for footer synergy */
    padding-bottom: 12em;
}

.loader {
    border: 1em solid #D3D3D3; 
    border-top: 1em solid #313131; 
    border-radius: 50%;
    width: 7.5em;
    height: 7.5em;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    margin-top: 1em;
}

.card {
    text-align: center;
    border: 1px solid black;
    background-color: #FFFFFF;
    border-radius: 0.6em;
    box-shadow: 0 0 0.3em 0;
    padding: 1em;
    outline: none;
}       

.card:hover, .card:focus {
    cursor: pointer;
    animation: bounce 0.5s linear;
    background-color: #F0F0F0;
}

.card-name {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
}

.img {
    height: 8em;
    width: 8em;
}

.card img[src="null"] {
    visibility: hidden;
}

.type {
    display: table;
    font-size: 1.25rem;
    padding: 0.2em 0.5em;
    margin: 0 auto;
    color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 0.25em 0 black;
}

.double-type {
    display: table;
    font-size: 1.25rem;
    margin: 0 auto;
    padding: 0;
    border-radius: 0.5em;
    box-shadow: 0 0 0.25em 0 black;
}

.double-type div {
    display: flex;
    margin: 0;
    padding: 0;
}

.double-type .type:nth-child(odd) {
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: none;
}

.double-type .type:nth-child(even) {
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: none;
}

/* Popup section */

#popup-background {
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,rgba(41,128,185, 0.75), rgba(109,213,250, 0.75), rgba(255,255,255, 0.75));
}

.popup {
    font-size: 1rem;
    width: 70vw;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 0.6em;
    box-shadow: 0 0 0.3em 0.3em;
}

.popup .type {
    padding: 0.4em 0.8em;
}

.popup-nav {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

.popup-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 2em;
    padding: 2em;
    align-items: center;
}

.popup-title h1 {
    font-size: 3.5em;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.popup-id {
    font-size: 3em;
    text-align: center;
}

.popup-images {
    text-align: center;
}

.popup-images img[src="null"] {
    display: none;
}

.popup-card {
    font-size: 1.5rem;
    background: linear-gradient(to right, #B2FEFA, #0ED2F7);
    border: 1px solid black;
    border-radius: 0.4em;
    box-shadow: 0 0 0.2em 0;
    padding: 1em;
}

.popup-card-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    padding: 0 1em;
    margin-top: 1em;
    font-weight: 600;
}

.popup-card-stats p:nth-child(odd) {
    max-width: 90%;
    word-wrap: break-word;
}

.popup-btn {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 0.75em;
    text-transform: capitalize;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 0 0.15em 0 #000000;
}

.popup-btn span {
    pointer-events: none;
}

.popup-btn span:nth-child(odd) {
    margin-right: 0.35em;
}

.popup-btn p:nth-child(odd) {
    margin-right: 0.3em;
}

.popup-btn:hover, .popup-btn:focus {
    color: #FFFFFF;
}

.popup-empty-btn {
    font-size: 2em;
    background: #78C850;
    border: none;
    outline: none;
    box-shadow: inset 0 0 0.15em 0 #000000;
}

.popup-left-btn {
    border-top-left-radius: 0.25em;
}

.popup-right-btn {
    border-top-right-radius: 0.25em;
}

.popup-close-button {
    font-size: 2.25em;
    color: #CC0000;
    background-color: #000000;
    outline: none;
    border: none;
    font-weight: 700;
}

.popup-close-button:hover, .popup-close-button:focus {
    cursor: pointer;
    color: #ffffff;
    background-color: #CC0000;
    box-shadow: inset 0 0 0.28em #000000;
}

/* Footer section */

.footer {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #313131;
    padding: 1em 0;
    text-align: center;
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 0;
    height: 6.5em;
}

.footer p {
    padding: 0 1em;
}

/* Keyframes */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bounce {
    20% { transform: translateY(-6px);}
    40% { transform: translateY(0px);}
    60% { transform: translateY(-2px);}
    80% { transform: translateY(-6px);}
}

/* Media queries */

/* Smaller viewports */

@media (max-width: 1440px) {
    html {
        font-size: 14px;
    }

    .loader {
        margin-top: 2em;
    }
}

@media (max-width: 1260px) {
    html {
        font-size: 12px;
    }

    .loader {
        margin-top: 4em;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 10px;
    }

    .footer {
        font-size: 1.1rem;
    }

    .loader {
        margin-top: 8em;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 9px;
    }

    .loader {
        margin-top: 10em;
    }

    .popup {
        font-size: 1.1em;
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .popup {
        width: 90vw;
    }
}

@media (max-width: 720px) {

    /* Mobile design */

    .nav-menu {
        display: block;
    }

    .nav-menu:hover {
        color: #FFFFFF;
    }

    .nav {
        justify-content: center;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background: #313131;
        width: 50%;
        height: 100%;
        border-right: 2px solid #FFCA04;
        opacity: 0.9;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }

    .nav-links.show {
        transform: translateX(0px);
    }

    .nav-links a {
        padding: 1em 1em;
        border-bottom: 2px solid #FFCA04;
    }

    .nav-links a:hover, .nav-links a:focus {
        color: #FFCA04;
        border-bottom: 2px solid #FFCA04;
    }


    .form-section {
        display: flex;
        flex-direction: column;
        padding: 2em 0;
    }

    .filter-form {
        padding-bottom: 1.5em;
    }

    .filter-form button {
        display: none;
    }

    .select-form label {
        display: none;
    }

    .popup {
        font-size: 1.5em;
        position: absolute;
        width: 100vw;
        height: 100%;
        border: none;
        border-radius: none;
        box-shadow: none;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    .popup-nav {
        order: 2;
    }

    .popup-btn {
        flex-direction: column;
        align-items: center;
    }

    .popup-btn span:nth-child(odd) {
        margin-right: 0;
    }

    .popup-grid {
        grid-template-columns: 1fr;
        row-gap: 2em;
        padding: 0 1em;
        padding-bottom: 3em;
        order: 1;
    }

    .popup-id {
        margin: 0;
        padding: 0.5em;
    }

    .popup-title {
        padding: 0.5em;
    }

    .popup-title h1 {
        padding-bottom: 0.3em;
    }
    
    .popup-images {
        padding: 1em;
    }

    .popup-card {
        font-size: 1.5em;
        margin-top: 0.5em;
        border-radius: none;
    }
    
    .popup-card-stats {
        padding-top: 0.5em;
    }

    .popup .type {
        font-size: 1.5rem;
        padding: 0.5em 0.5em;
    }

    .popup .double-type {
        font-size: 1.5rem;
    }

    .popup-left-btn {
        border-radius: none;
    }
    
    .popup-right-btn {
        border-radius: none;
    }
}

@media (max-width: 600px) {

    .popup-grid {
        row-gap: 0;
    }

    .popup-images {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        padding: 2em 0;
    }

    .popup-images img:nth-child(odd) {
        justify-self: end;
    }

    .popup-btn {
        font-size: 1.7em; 
    }

    .popup-card-stats {
        grid-template-columns: 1fr;
        padding: 0;
        margin-top: 1.5em;
    }
}

@media (max-width: 500px) {
    .popup-grid {
        padding: 0;
        padding-bottom: 3em;
    }

    .popup-images {
        padding: 0;
    }
}

/* Larger viewports */

@media (min-width: 1650px) {
    html {
        font-size: 18px;
        line-height: 1.25;
    }
}

@media (min-width: 1950px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 2200px) {
    html {
        font-size: 23px;
        line-height: 1.5;
    }
}

/* Pokemon types */

.normal {
    background-color: #A8A878;
}

.fighting {
    background-color: #C03028;
}

.flying {
    background-color: #A890F0;
}

.poison {
    background-color: #A040A0;
}

.ground {
    background-color: #E0C068;
}

.rock {
    background-color: #B8A038;
}

.bug {
    background-color: #A8B820;
}

.ghost {
    background-color: #705898;
}

.steel {
    background-color: #B8B8D0;
}

.fire {
    background-color: #F08030;
}

.water {
    background-color: #13D4F7;
}

.grass {
    background-color: #78C850;
}

.electric {
    background-color: #F8D030;
}

.psychic {
    background-color: #F85888;
}

.ice {
    background-color: #98D8D8;
}

.dragon {
    background-color: #7038F8;
}

.dark {
    background-color: #705848;
}

.fairy {
    background-color: #EE99AC;
}

.unknown {
    background-color: #68A090;
}